body {
  background-size: cover;
  left: 0;
  margin-top: -2em;
  margin-left: 0;
  padding: 0;
  overflow: scroll;
  position: relative;
  height:100%;
  width: 100%;
}

/*body *{
  border: 2px solid blue;
}*/

/*.center .menuitem{
  border: 2px solid blue;
}
.center .learnMore{
  border: 2px solid red;
}*/

.center h1,h2, h4,p{
  color: white;
  font-family: 'Satisfy';
}

/*Logo*/
.top {
  height: 20%;
  width: 20%;
  margin: auto;
  margin-top: 2em;
}

.top img{
  height: 100%;
  width: 100%;
}

.section{
  /*height: 100vh;*/
  height:100rem;

  margin-bottom: 2em;
}
.section1{
  /*height: 100vh;*/
  height:82rem;

  margin-bottom: 2em;
}



/*Menu*/
.menuCalled {
  display:none;
  position:absolute;
  z-index: 1000;
  height:100%;
  width:100%;
  /*border:1px solid red;*/
}

.menuContainer {
  position: fixed;
  display:none;
  z-index: 1000;
  width:65%;
  height:100%;
  /*border: 1px solid white;*/
  background-color: rgba(255,255,255,0.7);
  /*border-radius: 10px;*/
}
/* Initial menu */
.menuOutside{
  background-color: rgba(0,0,0,0.7);
  z-index: 800;
  /*border: 2px solid green;*/
  opacity: 50%;
  height:100%;
  width:100%;
}
.menuContainer ul {
  list-style: none;
  margin: 0;
  padding: 0;

}

.menuContainer li {
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

.menuContainer p {
  color: black;
  font-size: 3em;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}


.homeIcon {
  color: #fff;
  cursor: pointer;
  font-family: "Indie Flower",sans-serif Console;
  padding:1em;
  position: fixed;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  height: 6em;
  width:6em;  
  z-index: 1000;
}

/*.homeIcon img{
  width: 100%;
  height: 100%;
}*/
.box-shadow-menu {
  position: relative;
  padding-left: 1.25em;
}
.box-shadow-menu:before {
  content: "";
  border-radius:0.5em;
  position: absolute;
  left: 0;
  top: 0.5em;
  width: 7em;
  height: 1.2em;
  background: white;
  box-shadow: 
    0 2em 0 0 white,
    0 4em 0 0 white;
}

.icon-menu i {
  margin-right: 5px;
}
/*Centre*/
  
.center {
  width: 80%;
  height: 90%;
  text-align: center;
  margin: auto;

}
.menuitem{
  margin-top: 1em;
  margin-bottom: 0.5em;
  height: 15%;
  font-size: 4em;
}

/*.menuphoto {
  width: 100%;
  height: 70%;
  margin:auto;
  margin-bottom: 0.5em;
 /*border: 1px solid green;
}*/
.menuphoto img {
  height: 100%;
  margin-bottom: 2em;
  /*border: 1px solid red;*/
}
.learnMore{
  margin-top: 75%;
}
.learnMore *{
  background-color:transparent;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:5px;
  border:2px solid white;
  display:inline-block;
  cursor:pointer;
  color:white;
  font-size:4em;
  padding:8px 15px;
  text-decoration:none;
  text-shadow:0px 1px 0px #5b6178;
  border: 1px solid white;
}
.learnMore *:hover {
  background-color:transparent;
}
.learnMore *:active {
  position:relative;
  top:1px;
}

.learnMoreDiv{
  background-color:rgba(0,0,0,0.6);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1000;
  display: none;
}

.learnMoreDiv p{
  position: relative;
  width: 50%;
  height: 50%;
  text-align: center;
  margin: auto;
  top:15%;
  padding: 5%;
  display: none;
  background-color:rgba(0,0,0,0.8);
  font-size: 3em;
}

.counter{
  display: inline-block;
  height: 6em;
  width: 5em;
  font-size: 3em;
}

.increaseCount{
  display: inline-block;
  margin-left: 1em;
  padding: 0em 1em 0em 1em;
  /*border: 2px solid white;*/
  border-radius: 100%;
  color: white;
  font-weight: bold;
  height: 8em;
  width:5em;

}
.sign{
  font-size: 5em;
  margin-top:0.1em;
}
.increaseCount:hover{
  cursor: pointer;
}

.increaseCount:active{
  position: relative;
  top:0.2em;
}

.decreaseCount{
  display: inline-block;
  margin-right: 1em;
  padding: 0em 1em 0em 1em;
  /*border: 2px solid white;*/
  border-radius: 100%;
  color: white;
  height: 8em;
  width:5em;

}
.decreaseCount:hover{
  cursor: pointer;
}

.decreaseCount:active{
  position: relative;
  top:0.2em;
}

.orderNow{
  background-color:#44c767;
  font-family: 'Pacifico';
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  /*border:1px solid red;*/
  cursor:pointer;
  color:#ffffff;
  text-align: center;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
  /*border: 1px solid white;*/
  width: 45em;
  height: 9em;
  position: fixed;
  bottom: 3em;
  /*for ios*/
  /*right: 0;
  left: 0;*/
  /*for android*/
  left:9em;
  margin:auto;
}
.orderNow p{
  margin-top: -2em;
  text-decoration: none;
  color: white;
  font-size: 4em;
  line-height: 6em;
}
.orderNow:hover {
  background-color:#5cbf2a;
}

/*          Log In Page         */

.containerLogin {
  display: none;
  position: fixed;
  z-index: 1000;
  width: 100%;
  background: white;
  height:100%;
  bottom: 0;
  /*border:2px solid red;*/
}

.login {
  position: relative;
  margin: auto;
  /*padding: 4.1em;*/
  top:0%;
  border-radius: 3px;
 
}
.login p{
  font-size: 3em;
}
.formDiv{
  margin-top: 1.5em;
  position: relative;
  /*border:1px solid yellow;*/
  margin: auto;
  /*padding: 4.1em;*/
  width:80%;
  border-radius: 3px;
  top: 0em;
}
.formDiv label {
  color: #4a4a4a;
  display: block;
  font-size: 4em;
  letter-spacing: 1px;
  line-height: 1.3em;
  min-height: 2em;
  overflow: hidden;
  position: relative;
  text-transform: lowercase;
  width: 100%;
}
.login  h1 {
    margin-top: 1em;
    /*line-height: 1em;*/
    font-size: 5em;
    text-transform: uppercase;
    color: #4a4a4a;
    text-align: center;
    /*border:2px solid black;*/
    letter-spacing: 2px;
  }

  
.submit {
  background-color:#44c767;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  /*border:1px solid red;*/
  cursor:pointer;
  color:#ffffff;
  text-align: center;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
  /*border: 1px solid white;*/
  width: 30em;
  height: 6em;
  position: relative;
  bottom: 0em;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  margin:auto;
  margin-top: 12em;
}
.submit p{
  margin-top: -0.05em;
  text-decoration: none;
  color: white;
  font-size: 3em;
  line-height: 2em;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.login-help {
  /*border:1px solid blue;*/
  margin: 0;
  font-size: 1.8em;
  color: white;
  text-align: center;
  text-shadow: 0 1px #2a85a1;
  margin-top: 0.5em;
}

.login-help a {
    border: none;
    color: #6ba539;
    font-family: "Eudald News",serif;
    font-size: 1.8em;
    margin: 0;
    text-decoration: underline;
}
.signUpHere {
 /* border:1px solid blue;*/
  margin: 0;
  font-size: 1.8em;
  color: white;
  text-align: center;
  text-shadow: 0 1px #2a85a1;
  margin-top: 2em;
}

.signUpHere:hover{
  cursor: pointer;
}
.login-help:hover{
  cursor: pointer;
}
.signUpHere a {
    border: none;
    color: #6ba539;
    font-family: "Eudald News",serif;
    font-size: 1.8em;
    margin: 0;
    text-decoration: underline;
}

input {
  font-size: 2em;
}

input[type=text], input[type=password] {
  border: none;
    color: #4a4a4a;
    font-family: "Eudald News",serif;
    font-size: 1.5em;
    line-height: 1.5em;
    margin-top: .5em;
    width: 100%;
}

/* Styling for Profile Page */
.profileContainer{
  display: none;
  position: fixed;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.8);
}
.profile label{
  font-size: 2.5em;
}
.profile form{
  font-size: 1.8em;
}
.personalInfo{
  margin: auto;
  width: 80%;
  height: 100%;
  padding: 2em;
}

.personalInfo label{
  display: block;
  position: relative;
}

.fullName{
  width: 100%;
}
.fullName input{
  width: 100%;
}

.firstName{
  display: inline-block;
  width: 45%;
}

.lastName{
  display: inline-block;
  width: 45%;
}
form input[type="text"] {
    border: none;
    outline: 0;
    padding: 0;
    border-bottom: 1px solid black;
    height: 1.5em;
    background-color: rgba(255,255,255,0.1);
}
form input[type="password"]{
  border: none;
  outline: 0;
  padding: 0;
  border-bottom: 1px solid black;
  height: 1.5em;
  background-color: rgba(255,255,255,0.1);
}

form *{
  font-family: "Indie Flower",sans-serif Console;
}

.address *{
  display: inline-block;
}

.email input{
  width: 50%;
}

.password input{
  width: 30%;
}

.phoneNumber input{
  width: 30%;
}

.aptNumber{
  width: 45%;
}

.aptNumber input{
  width: 50%;
}

.civicNumber{
  width: 45%;
}

.civicNumber input{
  width: 50%;
}

.street{
  width: 45%;
}
.street input{
  width: 100%;
}

.postalCode{
  width: 45%;
}
.postalCode input{
  width: 50%;
}

/*          Social Media Page       */
.containerShare{
  display: none;
  position: fixed;
  z-index: 1000;
  width: 100%;
  background: rgba(255,255,255,0.7);
  height:100%;
  text-align: center;
  bottom: 0;
}


/*        Payment Page        */
.containerPayment{
  display: none;
  position: fixed;
  z-index: 1000;
  width: 100%;
  background: rgba(255,255,255,0.7);
  height:100%;
  text-align: center;
  bottom: 0;
}

/*        Payment Page        */
.containerNotifications{
  display: none;
  position: fixed;
  z-index: 1000;
  width: 100%;
  background: rgba(255,255,255,0.7);
  height:100%;
  bottom: 0;
}

.notifications{
  width: 50%;
  margin: auto;
  height: 50%;

}

.notification{
  display: block;
}
.notification label{
  font-size: 3em;
}
.notification input{
  height:2em;
  width: 2em;
}


/*        About Page        */
.containerAbout{
  display: none;
  position: fixed;
  z-index: 1000;
  width: 100%;
  background: rgba(255,255,255,0.7);
  height:100%;
  bottom: 0;
}

/*      Defining Styling for every pop up     */
.popUpTop{
  margin-top:1em;
  text-align: center;
  height: 10em;
}

.popUpTop h1{
  width: 50%;
  top: 1em;
  right: 0;
  left: 0;
  margin: auto;
  padding: auto;
  height: 100%;
  font-size: 6em;
}

.popUpTop div{
  width: 6em;
  height: 6em;
  float: right;
  display: block;
  margin: auto;
  margin: 0oe 1em;
}

.popUpTop img{
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.social{
  /*border:2px solid red;*/
  display:none;
  background-color: black;
  width: 100%;
  height:14em;
  position: fixed;
  z-index: 1;
  margin-top: -3em;
}
.socialMedia { 
  /*border:2px solid blue;*/
  width:40em;
  margin:auto;
  position: relative;
  list-style-type: none;  
  margin-top: 2em;
}
.social ul li{
  display: inline;
  margin-left: 5%;
  margin-top: 6em;
}
.social ul li a{
  text-decoration: none;
}
#facebookIcon {
  background:url(face.jpg);
  background-size:contain;
  display: inline-block;
  width:8.1em;
  height:8.1em;
  /*margin: 12px 12px ;
  /*border:1px solid green;*/
}
#twitterIcon {
  background:url(twitter.jpg);
  background-size:100%;
  display: inline-block;
  width:8.1em;
  height:8.1em;
  /*margin: 12px 12px ;
  /*border:1px solid green;*/
}
#instagramIcon {
  background:url(insta.jpg);
  background-size:contain;
  display: inline-block;
  width:8.1em;
  height:8.1em;
  /*margin: 12px 12px ;
  /*border:1px solid green;*/
}
#closeShare{
  width: 8em;
  height: 8em;
  float: right;
  margin: 2.5em 1% 0 0;
}

#closeShare img{
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#page1{
  background: url(meal.png);
  background-size: cover;
}

#page2{
  background: url(meal.png);
  background-size: cover;
}

#page3{
  background: url(meal.png);
  background-size: cover;
}
