body {
  background-size: cover;
  font-family: "Open Sans",sans-serif Console;
  left: 0;
  margin: 0;
  overflow: scroll;
  position: relative;
  height:100%;
  width: 100%;

}
/*body *{
  border: 1px solid white;
}*/
h1, h2, h4,p{
  color: white;
}

/*Logo*/
.top {
  text-align: center;
  color:white;
  height: 5em;
  width: 20em;
  /*border: 1px solid white;*/
  margin: auto;
}

/*Menu*/

.menuCalled {
  display:none;
  position:absolute;
  z-index: 1000;
  height:100%;
  width:100%;
  /*border:1px solid red;*/
}
.menuContainer {
  position: fixed;
  display:none;
  z-index: 1000;
  width:65%;
  height:100%;
  /*border: 1px solid white;*/
  background-color: #FFFFFF;
  /*border-radius: 10px;*/
}
/* Initial menu */
.menuOutside{
  background-color: #111111;
  z-index: 800;
  /*border: 2px solid green;*/
  opacity: 50%;
  height:100%;
  width:100%;
}
.menuContainer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menuContainer li {
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

.menuContainer p {
  color: black;
  font-size: 100%;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
  height:1px;
  width: 1px;
}

.homeIcon {
  color: #fff;
  cursor: pointer;
  font-family: "Open Sans",sans-serif Console;
  font-size: 16px;
  padding:1em;
  position: fixed;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  width: 10%;
}

.icon-menu i {
  margin-right: 5px;
}
/*Centre*/
  
.center {
  max-height: 10%;
  width: 80%;
  text-align: center;
  /*border: 1px solid white;*/
  margin: auto;
  margin-bottom: 8em;
}
.menuitem{
  /*border: 1px solid white;*/
  margin-top: 1em;
  margin-bottom: 0.5em;
}
.menuphoto {
  width: 100%;
  height: 17em;
  /*border: 1px solid white;*/
  margin:auto;
  margin-bottom: 0.5em;
}
.menuphoto img {
  height: 90%;
  /*border: 1px solid white;*/
  margin-bottom: 2em;

}
.learnmore p{
  background-color:transparent;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:5px;
  border:2px solid white;
  display:inline-block;
  cursor:pointer;
  color:white;
  font-size:1em;
  padding:8px 15px;
  text-decoration:none;
  text-shadow:0px 1px 0px #5b6178;
  border: 1px solid white;
  margin-bottom: 2em;
}
.learnmore:hover {
  background-color:transparent;
}
.learnmore:active {
  position:relative;
  top:1px;
}

.learnmore div{
  display: none;
  background-color:transparent;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  border:2px solid white;
  color:white;
  font-size:17px;
  padding:8px 15px;
  text-decoration:none;
  text-shadow:0px 1px 0px #5b6178;
  margin-bottom: 2em;
  height: 5em;
  width: 20em;
  margin: auto;
  text-align: center;
  margin-bottom: 2em;

}



.itemcounter{
  margin-bottom: 0.5em;
  height: 3.5em;
  width: 10em;
  margin: auto;
  padding: 0;
}
.itemcounter:active{
  position: relative;
  top:1px;
}

.counter{
  display: inline-block;
}

#increaseCount1{
  display: inline-block;
  margin-left: 1em;
  padding: 0em 1em 0em 1em;
  /*border: 2px solid white;*/
  border-radius: 100%;

}
#increaseCount1:hover{
  cursor: pointer;
}

#decreaseCount1{
  display: inline-block;
  margin-right: 1em;
  padding: 0em 1em 0em 1em;
  /*border: 2px solid white;*/
  border-radius: 100%;
}
#decreaseCount1:hover{
  cursor: pointer;
}




#increaseCount2{
  display: inline-block;
  margin-left: 1em;
  padding: 0em 1em 0em 1em;
  border: 2px solid white;
  border-radius: 100%;

}
#increaseCount2:hover{
  cursor: pointer;
}



#decreaseCount2{
  display: inline-block;
  margin-right: 1em;
  padding: 0em 1em 0em 1em;
  border: 2px solid white;
  border-radius: 100%;
}
#decreaseCount2:hover{
  cursor: pointer;
}




#increaseCount3{
  display: inline-block;
  margin-left: 1em;
  padding: 0em 1em 0em 1em;
  border: 2px solid white;
  border-radius: 100%;

}
#increaseCount3:hover{
  cursor: pointer;
}



#decreaseCount3{
  display: inline-block;
  margin-right: 1em;
  padding: 0em 1em 0em 1em;
  border: 2px solid white;
  border-radius: 100%;
}
#decreaseCount3:hover{
  cursor: pointer;
}



.itemcounter p{
  font-size: 1em;
  font-weight: bold;
}




.bottom{
  background-color:#44c767;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  /*border:1px solid red;*/
  cursor:pointer;
  color:#ffffff;
  text-align: center;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
  /*border: 1px solid white;*/
  width: 15em;
  height: 3em;
  position: fixed;
  bottom: 3em;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  margin:auto;
}
.bottom p{
  margin-top: -0.05em;
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  line-height: 2em;
}
.bottom:hover {
  background-color:#5cbf2a;
}

/*          Log In Page         */
.container {
  display: none;
  position: fixed;
  top:25%;
  z-index: 1000;
  margin: auto;
  width: 100%;
  background: rgba(0,0,0,0.7);
}


.login {
  position: relative;
  margin: auto;
  padding: 20px 20px 20px;
  top:50%;
  left: 40%;
  border-radius: 3px;

  &:before {
    content: '';
    position: absolute;
    top: -8px; right: -8px; bottom: -8px; left: -8px;
    z-index: -1;
    background: rgba(black, .08);
    border-radius: 4px;
  }

  h1 {
    margin: -20px -20px 21px;
    line-height: 40px;
    font-size: 15px;
    font-weight: bold;
    color: #555;
    text-align: center;
    text-shadow: 0 1px white;
    background: #f3f3f3;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 3px 3px 0 0;
    @include linear-gradient(top, whiteffd, #eef2f5);
    @include box-shadow(0 1px #f5f5f5);
  }

  p { margin: 20px 0 0; }
  p:first-child { margin-top: 0; }

  input[type=text], input[type=password] { width: 278px; }

  p.remember_me {
    float: left;
    line-height: 31px;
    display: block;

    label {
      font-size: 12px;
      color: #777;
      cursor: pointer;
    }

    input {
      position: relative;
      bottom: 1px;
      margin-right: 4px;
      vertical-align: middle;
    }
  }

  p.submit { 
    text-align: right; 
    display: inline-block;
  }
}

.login-help {
  margin: 20px 0;
  font-size: 11px;
  color: white;
  text-align: center;
  text-shadow: 0 1px #2a85a1;

  a {
    color: #cce7fa;
    text-decoration: none;

    &:hover { text-decoration: underline; }
  }
}

:-moz-placeholder {
  color: #c9c9c9 !important;
  font-size: 13px;
}

::-webkit-input-placeholder {
  color: #ccc;
  font-size: 13px;
}

input {
  font-size: 14px;
}

input[type=text], input[type=password] {
  margin: 5px;
  padding: 0 10px;
  width: 200px;
  height: 34px;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;
  outline: 5px solid #eff4f7;
  -moz-outline-radius: 3px; // Can we get this on WebKit please?
  @include box-shadow(inset 0 1px 3px rgba(black, .12));

  &:focus {
    border-color: #7dc9e2;
    outline-color: #dceefc;
    outline-offset: 0; // WebKit sets this to -1 by default
  }
}

input[type=submit] {
  padding: 0 18px;
  height: 29px;
  font-size: 12px;
  font-weight: bold;
  color: #527881;
  text-shadow: 0 1px #e3f1f1;
  background: #cde5ef;
  border: 1px solid;
  border-color: #b4ccce #b3c0c8 #9eb9c2;
  border-radius: 16px;
  outline: 0;
  @include box-sizing(content-box); // Firefox sets this to border-box by default
  @include linear-gradient(top, #edf5f8, #cde5ef);
  @include box-shadow(inset 0 1px white, 0 1px 2px rgba(black, .15));

  &:active {
    background: #cde5ef;
    border-color: #9eb9c2 #b3c0c8 #b4ccce;
    @include box-shadow(inset 0 0 3px rgba(black, .2));
  }
}

.lt-ie9 {
  input[type=text], input[type=password] { line-height: 34px; }
}




/* Styling for Profile Page */

.profileContainer{
  position: fixed;
  top:25%;
  z-index: 1000;
  margin: auto;
  width: 60%;
  display: none;
  border: 1px solid white;
  background: white;
  right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
}

.profile h1{
  text-align: center;
  color: red;
}

.personalInfo{
  margin: auto;
  width: 48em;
}

.fullName{
  border: 1px solid white;
}

.firstName{
  border: 1px solid white;
  display: block;
  float: left;
  width: 49%;
}
.firstName *{
  border: 1px solid white;
  clear:both;
}
form input[type="text"] {
    border: none;
    outline: 0;
    padding: 0;
    border-bottom: 1px solid black;
    height: 1.5em;
}
form input[type="password"]{
  border: none;
  outline: 0;
  padding: 0;
  border-bottom: 1px solid black;
  height: 1.5em;
}

form *{
  font-family: "Open Sans",sans-serif Console;
}

.lastName{
  border: 1px solid white;
  display: block;
  float: right;
  width: 49%;
}

.lastName label{
  border: 1px solid white;
  clear: both;
}

.address *{
  display: inline-block;
}

.email input{
  width: 100%;
  border:1px solid white;
  text-align: center;
}
.email label{
  left: 2%;
  position: relative;
}

.password input{
  width: 100%;
  text-align: center;
}

.password label{
  position: relative;
  left: 2%;
}

.phoneNumber input{
  width: 100%;
}

.phoneNumber label{
  position: relative;
  left: 2%;
}

.aptNumber input{
  width: 15%;
}

.civicNumber input{
  width: 20%;
}
